
<!--左边-->
<div class="layui-col-lg2 layui-col-md2 layui-col-sm2 layui-hide-xs user">
    <!--头像-->
    <div class="avatar">
        <img src="/static/assets/image/avatar.jpg" alt="头像">
    </div>
    <p>用户名</p>
    <hr class="layui-bg-gray">
    <!--        用户信息-->
    <div class="layui-row">
        <div class="layui-col-lg4">
            文章
        </div>
        <div class="layui-col-lg4">
            获赞
        </div>
        <div class="layui-col-lg4">
            访问
        </div>
    </div>
    <!--        导航栏-->
    <div class="layui-nav">
        <!--            文章-->
        <div class="article" onclick="home()">
            <p>文章</p>
        </div>
        <!--            微语-->
        <div class="mcoo" onclick="alert('开发中')">
            <p>微语</p>
        </div>
        <!--            留言-->
        <div class="content" onclick="alert('开发中')">
            <p>留言</p>
        </div>
        <!--            关于-->
        <div class="about" onclick="about()">
            <p>关于</p>
        </div>
    </div>
</div>
